@charset "UTF-8";

main.recu-senha {
    min-width: 40%;
    height: 80vh;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.titulo-de-pagina{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    text-align: center;
}

header.titulo-de-pagina > h1{
    margin: 0;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribui espaço igual entre e ao redor */
    align-items: center;
    height: 100%;
    margin: 20px;
}


main form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribui espaço igual entre e ao redor */
    align-items: center;
    height: 100%;
    width: 100%;
}

main form input{
    width: 80%;
}

button.btn{
    width: 80%;
    height: 1.8em;
    font-size: 1.8em;
    padding: 1px;
}

span.icon{
    font-size: 3.5em;
    color: #fff;
}

#campo-codigo{
    height: 1.8em;
    font-size: 1.8em;
}