<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque 📦</title>

    <link rel="stylesheet" href="../../static/css/config_estoque.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
    <meta charset="UTF-8">
</head>

<body>
    <div id="menu"></div>

    <script>
        fetch('menu.html')
            .then(res => res.text())
            .then(html => {
                document.getElementById('menu').innerHTML = html;
            })
            .catch(err => console.warn('Erro ao carregar menu:', err));
    </script>

    <main>
        <div class="titulo-de-pagina">
            <h1>Estoque</h1>
            <button class="add">Adicionar Item</button>
        </div>
        <hr>

        <div class="tabela-container">
            <table id="tabelaEstoque">
                <thead>
                    <tr>
                        <th>Cód</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Medida</th>
                        <th>Val Uni</th>
                        <th>Qtde</th>
                        <th>Val Inventário</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Linhas via JS -->
                </tbody>
            </table>
        </div>
        <button class="export">Exportar</button>
    </main>
    <script src="../js/js_estoque.js"></script>
    <footer>
        <div class="footer-esquerdo">Usuário: João Mbembe Gerente</div>
        <div class="footer-direito">Copyright 2025-2025</div>
    </footer>
</body>

</html>