<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Usuário 👨🏿‍💻</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/config_usuario.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <script src="{{url_for('static', filename='js/js_usuario.js')}}"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
</head>
<body>

    <nav class="menu-lateral">
        <div class="cabeca-do-menu">
            <img src="../../static/img/icon.png" alt="Logo Da Padaria Mokele y Mbembe" class="logo">
            <h1>Padaria<br>Mokele y Mbembe</h1>
        </div>

         <ul>
            <li class="item-menu">
                <a href="/menu">
                    <span class="icon">
                        <span class="material-symbols-outlined">home</span>
                    </span>
                    <span class="nome-do-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/pvd">
                    <span class="icon">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </span>
                    <span class="nome-do-link">Sistema de Vendas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/dashboard">
                    <span class="icon">
                        <span class="material-symbols-outlined">dashboard</span>
                    </span>
                    <span class="nome-do-link">Dashboard</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/historico-vendas">
                    <span class="icon">
                        <span class="material-symbols-outlined">receipt_long</span>
                    </span>
                    <span class="nome-do-link">Histórico de Vendas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/estoque">
                    <span class="icon">
                        <span class="material-symbols-outlined">inventory_2</span>
                    </span>
                    <span class="nome-do-link">Estoque</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/gestao-usuarios">
                    <span class="icon">
                        <span class="material-symbols-outlined">groups</span>
                    </span>
                    <span class="nome-do-link">Gestão de Usuários</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/comandas">
                    <span class="icon">
                        <span class="material-symbols-outlined">confirmation_number</span>
                    </span>
                    <span class="nome-do-link">Emissão de Comandas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/">
                    <span class="icon">
                        <span class="material-symbols-outlined">logout</span>
                    </span>
                    <span class="nome-do-link">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    
    <main>
        <div class="titulo-de-pagina">
            <h1>Gestão de Usuário</h1>
            <button class="add" onclick="abrir_popup()">Cadastrar Usuário</button>
        </div>
        <hr>
        
        <div class="tabela-container">
            <table id="tabelaUsuarios">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>E-mail</th>
                        <th>Cargo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tupla in usuarios %}
                        <tr>
                            {% for dado in tupla %}
                                <td>{{dado}}</td>
                            {% endfor %}
                        {% endfor %}
                        </tr>
                </tbody>
            </table>
        </div>
        <div id="popup_usuario" style="display: none;">
            <form action="/gestao-usuarios" method="post">
                <input type="text" name="nomeForm" placeholder="Nome do usuario" id="nomeForm">
                <input type="text" name="cpfForm" placeholder="CPF" id="CpfForm">
                <input type="email" name="emailForm" placeholder="Email" id="EmailForm">
                <input type="text" name="telefoneForm" placeholder="Telefone" id="TelefoneForm">
                <input type="text" name="senhaForm" placeholder="Senha" id="SenhaForm">
                <input type="text" name="salarioForm" placeholder="Salario" id="SalarioForm">

                <label>
                    <input type="radio" name="cargo" id="Gerente" >
                    <span>Gerente</span>
                </label>
                <label>
                    <input type="radio" name="cargo" id="ControlaEstoque">
                    <span>Controlador de estoque</span>
                </label>
                <label>
                    <input type="radio" name="cargo" id="AnalisaVendas">
                    <span>Analista de vendas</span>
                </label>
                <label>
                    <input type="radio" name="cargo" id="FuncionarioComum">
                    <span>Funcionario comum</span>
                </label>
                
                <button type="submit" id="btn_cadastrar">Cadastrar usuario</button>
            </form>
            <button type="button" onclick="fechar_popup()" id="btn_voltar">Fechar</button>
        </div>


        <button class="export">Exportar</button>
    </main>
    
    <footer>
        <div class="footer-esquerdo">Usuário: João Mbembe Gerente</div>
        <div class="footer-direito">Copyright 2025-2025</div>
    </footer>
</body>
    <script src="../js/js_usuario.js"></script>
</html>
