<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>Login-Mokele!</title>
  </head>
  <body>
    <div class="container">
      <div class="Campo_amarelo">
        <h1>Padaria</h1>
        <h2>Mokele Y Mbembe</h2>
        <h3>Bem-Vindo</h3>
      </div>

      <div class="login-header">
        <h1>Login</h1>
        <img src="../../static/img/icon.png" id="mokele_logo" />
      </div>

      <div class="campo_identificador">
        <form method="post" action="/login">
          <input type="text" id="nome_funcionario" placeholder="Nome" name="usuario" />

          <span class="material-symbols-outlined" id="pessoa_simbolo"
            >person</span
          >

          <input type="password" id="senha_funcionario" placeholder="Senha" name="senha"/>

          <span class="material-symbols-outlined" id="senha_simbolo">key</span>

          <a href="recu-senha-email.html">
            <p>Esqueceu sua senha animal?</p>
          </a>

          <button type="submit">Login</button>
          {% if erro_mensagem %}
          <div id="erro_mensagem" style="display: block; color: red; font-size: 14px;">
            Nome ou senha inválidos.
          </div> 
          {% else %}
          <div style="display: none;"></div>
          {% endif %}

        </form>
      </div>
    </div>
  </body>
</html>
