@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('https://i.pinimg.com/1200x/46/73/ee/4673eeb5fe44425b7dca8214cf75bc75.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100dvh;
}
main {

    height: 90dvh;
    max-width: calc(100% - 100px);
    margin: 5dvh auto 5dvh 80px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
}

button {
    background-color: #f3a853;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 18px;
    cursor: pointer;
    position: relative;
    left: 470px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    
}
main a{
    text-decoration: none;
    color: #967345;
    font-weight: 700;
    position: relative;
    left: 25px;
}

#metodo-pagamento-form, #nome-form{
    position: relative;
    left: 20px;
    border: 1px solid #967345;
    border-radius: 18px;
    padding: 10px;
    width: 15%;
    margin-bottom: 10px;
}

#data-form, #id-form{
    position: relative;
    left: 20px;
    border: 1px solid #967345;
    border-radius: 18px;
    padding: 10px;
    width: 8%;
    margin-bottom: 10px;
}


input::placeholder {
    color: #967345;
}

thead{
    background-color: #f3a853;
    border-color: solid #f3a853;
}
thead td, th{
    padding: 8px 12px;
    color: white;
    text-align: left;
}

header{
    background-color: #f8f5ee;
}

h1{
    color: #f3a853;
}

.pesquisa-vendas, .pesquisa-vendas{
    border-radius: 20px;
    background-color: #f3efe5;
    height: 70%;
    width: 95%;
    position: relative;
    left: 30px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

#exportar{
    position: relative;
    left: 1130px;
    bottom: 30px;
    
}